@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
}

.container {
    max-width: 80rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.shadow {
    position: absolute;
    width: 100vw;
    z-index: 20;
    top: 350px;
}

.sky {
    position: absolute;
    width: 100vw;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.logo span {
    font-weight: 200;
}

.big-title span {
    font-weight: 400;
    font-size: 6rem;
}

.hamburger-menu {
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar {
    position: relative;
    width: 1.2rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before, .bar:after {
    content:'';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: white;
    border-radius: 2px;  
}

.bar:before {
    transform: translateY(-8px);
}

.bar:after {
    transform: translateY(8px);
}

.big-title {
    position: absolute;
    z-index: 30;
    line-height:5rem;
    top: calc(50% - 9rem);
    left: calc(50% - 30rem);
    width: 100%;
    text-align: left;
    padding: 2rem 2rem;
    font-size: 4rem;
    font-weight: 300;
    color: white;
    opacity: 80%;
}

header p {
    position: absolute;
    z-index: 30;
    top: calc(50% - 2rem);
    left: calc(50% - 43.7rem);
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    opacity: 80%;
}

header a{
    position: absolute;
    z-index: 30;
    top: calc(50% + 16rem);
    left: calc(50% + 0.2rem);
    width: 2%;
    text-align: center;
    text-decoration: none;
    padding: 0;
    font-size: 2rem;
    font-weight: 400;
    background: linear-gradient(red,#6b122c);
    border: 2px solid white  ;
    border-radius: 18px;
    color: white;
}


section {
    width: 100%;
    height: 450px; 
    background-color: black;
    position: relative;
}

section .container {
    display: grid;
    /* grid-template-columns: repeat(3, 2fr); */
    grid-template-areas: 'myArea myArea';
    height: 450px;
}

section .contentPor{
    color: white;
    opacity: 20%;
}

section .container > *{
    margin: 1rem;
}

.contentBusca {
    color: white;
    grid-area: myArea;
    text-align: center;
    z-index: 30;
}

.contentBusca h2 {
    font-weight: 300;
}

#busca-endereco, #busca-estado {
    color: #e73f35;
    width: 45%;
    height: 2rem;
    outline: 0;
    font-size: 1.2rem;
    border-radius: 8px;
}

#busca-endereco:focus {
    outline: 0;
}

#busca-estado {
    width: 20%;
}

#search {
    background-image: linear-gradient(#a01f56, #e73f35);
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.3rem;
}

#search img {
    width: 24%;
}

.shadowBlack{
    position: absolute;
    bottom: 450px;
    height: 100px;
    width: 100%;
    z-index: 20;
    background: linear-gradient(to top, black, black, transparent);
}

@media (max-width: 420px) {
    .shadow {
        top: 95px;
    }
}