@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    overflow-y: scroll;
    scroll-behavior: initial;
}

.container {
    max-width: 80rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-image: url(../img/solzao.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed ;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.shadow {
    position: absolute;
    width: 100vw;
    z-index: 20;
    top: 350px;
}

.sky {
    position: absolute;
    width: 100vw;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.logo span {
    font-weight: 200;
}


/* -------- HAMBURGER MENU -------- */
.hamburger-menu {
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.bar {
    position: relative;
    width: 1.2rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before, .bar:after {
    content:'';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: white;
    border-radius: 2px;  
}

.bar:before {
    transform: translateY(-8px);
}

.bar:after {
    transform: translateY(8px);
}

/* -------- ------- */

.big-title span {
    font-weight: 400;
    font-size: 6rem;
}

.big-title {
   
    width: 60%;
    margin: 0rem 0 14rem 2rem;

    font-size: 8.7em;
    font-weight: 800;


    background: linear-gradient(30deg, #cd3632 0%, #200a19 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    letter-spacing: -3px;
    line-height: 1em;
}

header p {
    z-index: 30;
    width: 40%;
    margin:20em 0 0 2em;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    letter-spacing: .8em;
}

/* header a{
    position: absolute;
    z-index: 30;
    top: calc(50% + 16rem);
    left: calc(50% + 0.2rem);
    width: 2%;
    text-align: center;
    text-decoration: none;
    padding: 0;
    font-size: 2rem;
    font-weight: 400;
    background: linear-gradient(red,#6b122c);
    border: 2px solid white  ;
    border-radius: 18px;
    color: white;
}

header a :focus{
    color: red;
} */

.scrollDown {
    z-index: 30;
    height: 30px;
    width: 30px;
    border:2px solid transparent;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.scrollDown::before,
.scrollDown::after {
    content: '';
    position: absolute;
    top:10%;
    left: 50%;
    border: 2px solid red;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scrollDown 1s ease-in-out infinite;
}

.scrollDown::after {
    top:20%;
    animation-delay: .3s;
}

@keyframes scrollDown{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top:90%;
    }
}

section {
    width: 100%;
    height: 450px; 
    background-color: black;
    position: relative;
}

section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-areas: 'myArea myArea';
    height: 350px;
}

section .contentPor{
    color: #e73f35;
    width: 40%;
    text-align: center; 
    border-radius: 32px;
}

section .contentPor ul {
    list-style: none;
    background-color:black;
    margin: 2em;
}

section .container > *{
    margin: 1rem;
}

.contentBusca {
    color: white;
    text-align: center;
    z-index: 30;
}

.headerBusca {
    display: flex;
    margin: 2em;
}


#busca-endereco {
    background-color: #222;
    color: #e73f35;
    width: 65%;
    font-size: 1.2rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 2px solid #222;
    border-right: 1px solid #333;
    text-align: center;
}

#busca-estado {
    background-color:#222;
    color: #e73f35;
    width: 20%;
    border-right: 0;
    border: 2px solid #222;
    text-align: center;
}

#busca-endereco:focus, #busca-estado:focus {
    outline: 0;
}

#search {
    background-image: linear-gradient(#a01f56, #e73f35);
    border: 2px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0.3rem;
    cursor: pointer;
    border:none
}

#search:focus {
   outline: 0;
}

#search:active {
    background-image: linear-gradient(#eec555, #e73f35);
}

#search img {
    width: 24%;
}

.shadowBlack{
    position: absolute;
    bottom: 450px;
    height: 100px;
    width: 100%;
    z-index: 20;
    background: linear-gradient(to top, black, black, transparent);
}


@media (max-width: 420px) {
    .shadow {
        top: 95px;
    }
}